
::selection{ background-color: #E13300; color: white; }
::moz-selection{ background-color: #E13300; color: white; }
::webkit-selection{ background-color: #E13300; color: white; }

body {
	background-color: #fff;
	margin: 40px;
	font: 13px/20px normal Helvetica, Arial, sans-serif;
	color: #4F5155;
}

code {
	font-family: Consolas, Monaco, Courier New, Courier, monospace;
	font-size: 12px;
	background-color: #f9f9f9;
	border: 1px solid #D0D0D0;
	color: #002166;
	display: block;
	margin: 14px 0 14px 0;
	padding: 12px 10px 12px 10px;
}

#container{
	margin: 10px auto;
	border: 1px solid #D0D0D0;
	-webkit-box-shadow: 0 0 8px #D0D0D0;
	width: 960px;
}

#inner-wrapper {}

#content{
	margin: 0 15px 0 15px;
	width: 730px;
	float: right;
}

#sidebar {
	width: 160px;
	float: left;
	padding: 0px 20px;
}
#submenu {
	border-top: 1px dotted #D0D0D0;
}

#footer{
	text-align: right;
	font-size: 11px;
	border-top: 1px solid #D0D0D0;
	line-height: 32px;
	padding: 0 10px 0 10px;
	margin: 20px 0 0 0;
}

.clear {
	width: 100%;
	clear: both;
}

/* icon classes -------------------- */
.icon {
	background-position: left center;
	background-repeat: no-repeat;
	display: inline-block;
	padding-left: 20px;
}
.icon_accept {
	background-image: url(../images/icons/accept.png);
}
.icon_add {
	background-image: url(../images/icons/add.png);
}
.icon_anchor {}
.icon_arrow_left {}
.icon_arrow_right {}
.icon_arrow_up {}
.icon_arrow_down {}
.icon_asterisk_orange {}
.icon_asterisk_yellow {}
.icon_attach {}
.icon_award_star_gold_3 {}
.icon_bin {}
.icon_bomb {}
.icon_box {}
.icon_book {}
.icon_bug {
	background-image: url(../images/icons/bug.png);
}
.icon_calendar {}
.icon_calendar_add {}
.icon_calendar_delete {}
.icon_calendar_view_day {}
.icon_calendar_edit {}
.icon_cancel {
	background-image: url(../images/icons/cancel.png);
}
.icon_chart_bar {}
.icon_chart_pie {}
.icon_cog {
	background-image: url(../images/icons/cog.png);
}
.icon_comment {
	background-image: url(../images/icons/comment.png);
}
.icon_comments {
	background-image: url(../images/icons/comments.png);
}
.icon_comment_add {}
.icon_comment_delete {}
.icon_contrast_low {}
.icon_contrast {}
.icon_control_pause_blue {}
.icon_control_pause {}
.icon_control_play_blue {}
.icon_control_play {}
.icon_cross {}
.icon_email {
	background-image: url(../images/icons/email.png);
}
.icon_error {
	background-image: url(../images/icons/error.png);
}
.icon_exclamation {
	background-image: url(../images/icons/exclamation.png);
}
.icon_eye {}
.icon_feed {}
.icon_female {}
.icon_male {}
.icon_flag_blue {}
.icon_group {
	background-image: url(../images/icons/group.png);
}
.icon_heart {
	background-image: url(../images/icons/heart.png);
}
.icon_help {
	background-image: url(../images/icons/help.png);
}
.icon_house {
	background-image: url(../images/icons/house.png);
}
.icon_information {
	background-image: url(../images/icons/information.png);
}
.icon_key {}
.icon_lightbulb {}
.icon_link {
	background-image: url(../images/icons/link.png);
}
.icon_lock {
	background-image: url(../images/icons/lock.png);
}
.icon_lock_open {}
.icon_magnifier {}
.icon_male {}
.icon_status_online {}
.icon_status_online {}
.icon_user_green {}
.icon_user_red {}
.icon_user {
	background-image: url(../images/icons/user.png);
}
.icon_user_grey {}
.icon_user_female {
	background-image: url(../images/icons/user_female.png);
}
.icon_tux {}
.icon_user_suit {}
.icon_wand {}
.icon_wrench {
	background-image: url(../images/icons/wrench.png);
}
.icon_zoom {
	background-image: url(../images/icons/icon_zoom.png);
}
.icon_zoom_in {
	background-image: url(../images/icons/zoom_in.png);
}
.icon_zoom_out {
	background-image: url(../images/icons/zoom_out.png);
}

/* bullet classes ------------------ */
.bullet {
	background-position: left center;
	background-repeat: no-repeat;
	display: inline-block;
	padding-left: 20px;
}
.bullet_add {}
.bullet_error {}
.bullet_green {}
.bullet_blue {}
.bullet_orange {}
.bullet_red {}
.bullet_go {}
.bullet_toggle_minus {}
.bullet_toggle_plus {}
.bullet_star {}
.bullet_wrench {}
.bullet_yellow {}


/* user edit styles ---------------- */
ul.user_profile,
ul.microposts {
	list-style-type: none;
}

.disabled {
	background-color: #E0E0E0;
	border: 1px solid #999;
	color: #999;
}

.fail {
	color: #990000;
	border: 3px solid #990000;
	background: #FFECEF;
	padding: 15px;
	margin: 15px;
}
.success {
	color:#060;
	border: 3px solid #060;
	background: #D5FFD9;
	padding: 15px;
	margin: 15px;
}
.warning,
.validation {
	color: #D2A921;
	border: 3px solid #D2A921;
	background: #FFE6AA;
	padding: 15px;
	margin: 15px;
}